@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

html 
{
    font-family: 'Zen Dots', cursive;
    text-align: center;
    background: rgb(222,23,23);
    background: linear-gradient(90deg, rgba(222,23,23,1) 0%, rgba(130,19,194,1) 50%, rgba(30,48,238,1) 100%);
}

.button1 {
   
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }


 

